.App {
  text-align: center;
  /*background-image: url("https://danskebank.com/-/media/danske-bank-images/dbcom/images/generic/dsc_2186---oslo-branch.jpg?rev=2a57083e2dd24e428866d74a00b70e82&hash=2F97F667C02248A21BE9B865DA4AA044");
  */
/*   background-image: url("image.jpg"); */
  bacground-color: 'grey;
  
  position:fixed;
  min-width:  100%;
  min-height: 100%;
  background-size: cover;
  background-position:  center;
  text-size-adjust:inherit;
  font-size: 30px;
  font-display: flex;
  font-family: Danske Human;
  font-weight: bold;
  
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 'white';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Container {
  
  display: flex;
  
  text-align: center;
  font-family: Danske Human;
  font-size: 40px;
  margin: 80px;
  font-weight: bold;
  justify-content: center;
  color: white;
  

}
.Container1 {
  text-align: right;
  display: flex;
  font-size: 30px;
  font-family: Danske Human;
  font-weight: bold;
  justify-content: right;
  /* margin-top: '100px'; */
}
